
<div class="flex-col radio-button-group">
  <span class="mb-1">Select One</span>
  @for (button of radioButtonFormControl.options; track button.value) {
    <div class="radio-button-wrapper flex-row align-items-center">
      <div
        class="radio-button"
        [ngClass]="{
          'activated-radio-button': radioButtonFormControl.value===button.value
        }"
        (keydown)="selectOption(button)"
        (click)="selectOption(button)"
      >
      </div>
      <span class="radio-button-label">{{ button.label }}</span>
    </div>
  }
</div>
