
<!-- shop coffee banner -->

<div class="shop-banner">
    <h1 class="shop-heading">SHOP COFFEE</h1>
    <p class="shop-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <button class="shop-all-btn">SHOP ALL</button>
</div>

<!-- browse coffee heading -->

<h2 class="shop-heading2"> LET'S TALK BEANS </h2>
<p class="shop-text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

<!-- browse types of coffees -->

<!-- row one -->
<div class="row">
    <div class="column"> 
        <div class="product"><img class="coffee-image" src="static/bag_of_coffee.png"></div>
        <div class="product-title">Product Name</div>
        <div class="product-description">Variant</div>
        <div class="price">$55</div>
        <button class="add-to-cart">Add to Cart</button>
    </div>
    <div class="column">
        <div class="product"><img class="coffee-image" src="static/bag_of_coffee.png"></div>
        <div class="product-title">Product Name</div>
        <div class="product-description">Variant</div>
        <div class="price">$55</div>
        <button class="add-to-cart">Add to Cart</button>
    </div>
    <div class="column">
        <div class="product"><img class="coffee-image" src="static/bag_of_coffee.png"></div>
        <div class="product-title">Product Name</div>
        <div class="product-description">Variant</div>
        <div class="price">$55</div>
        <button class="add-to-cart">Add to Cart</button>
    </div>
</div>

<!-- row two -->
<div class="row">
    <div class="column"> 
        <div class="product"><img class="coffee-image" src="static/bag_of_coffee.png"></div>
        <div class="product-title">Product Name</div>
        <div class="product-description">Variant</div>
        <div class="price">$55</div>
        <button class="add-to-cart">Add to Cart</button>
    </div>
    <div class="column">
        <div class="product"><img class="coffee-image" src="static/bag_of_coffee.png"></div>
        <div class="product-title">Product Name</div>
        <div class="product-description">Variant</div>
        <div class="price">$55</div>
        <button class="add-to-cart">Add to Cart</button>
    </div>
    <div class="column">
        <div class="product"><img class="coffee-image" src="static/bag_of_coffee.png"></div>
        <div class="product-title">Product Name</div>
        <div class="product-description">Variant</div>
        <div class="price">$55</div>
        <button class="add-to-cart">Add to Cart</button>
    </div>
</div>

<button class="view-all-button"> View All </button>
