
<div class="app-image-gallery flex-row col-gap-2">
  <div class="gallery-mini-scroll flex-col gap-1">
    @for (image of _images(); track image; let idx = $index) {
      <img
        class="gallery-mini"
        (click)="selectImage(image, alt() ?? (alts()?.[idx] ?? 'not provided'))"
        [ngSrc]="image"
        height="125"
        width="100"
        [alt]="alt() ?? (alts()?.[idx] ?? 'not provided')"
      >
    }
  </div>
  <img class="gallery-focus" *ngIf="selectedImage() as image" [ngSrc]="image" height="300" width="300" [alt]="selectedImageAlt()">
</div>
