@use "src/styles/variables" as *;


.statement-header {
  font-family: $header-font-family;
  color: $primary-color;
  font-size: $font-size-xl;
  text-shadow: 5px 5px 0 rgba(0,0,0,0.2);
}

.landing-header-2 {
  color: $primary-color;
  text-align: center;
  font-size: $font-size-lg;
}

.background-overlay-2 {
  margin: 100px 0 0 0;
  background-color: $white;
  color: $text-color;
}

.fun-facts {
  width: 90vw;
  background-color: $body-background-color;
  margin-top: 100px;
  padding: 25px;
}

.top-facts{
  width: 49%;
  margin-bottom: 25px;
}

.page-divider-image {
  width: 100vw;
}

.coffee-image1{
  position: absolute;
  top: 200px;
  left: 900px;
}

.opening-pitch {
  width: 60%;
  font-size: $font-size-subtitle;
  color: $text-color;
}

.get-started-btn{
  margin-left: 20px;
  align-items: center;
  background-color: #EC5F46;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  // margin-right: 10px;
  // background-color: #EC5F46;
  // color: #FFFFFF;
  // width: 128px;
  // height: 48px;
  // cursor: pointer;

}

.get-started-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.get-started-btn:hover:after {
  transform: translate(0, 0);
}

.get-started-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.get-started-btn:hover {
  outline: 0;
}


.learn-more-btn{
  align-items: center;
  background-color: #FAF9F5;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #21201F;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  // background-color: #FFFFFF;
  // color: #000000;
  // margin-left: 10px;
  // width: 128px;
  // height: 48px;
  // cursor: pointer;
}

.learn-more-btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.learn-more-btn:hover:after {
  transform: translate(0, 0);
}

.learn-more-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.learn-more-btn:hover {
  outline: 0;
}

.featured-coffee-1 {
  min-height: 80vh;
  background-color: $primary-color;
  color: $white;
}

.feature-coffee-2{
  min-height: 80vh;
  background-color: $body-background-color;
}

.feature-content {
  width: 55%;
  font-size: $font-size-med;

  .header {
    font-size: $font-size-lg
  }
}

.coffee-journey{
  min-height: 70vh;
  background-color: $white;
}

.journey-content{
  width: 70%;
}
