<body>

  <div id="landing-h1">
    <h1 style="text-align: center">COFFEE FOR THE LOVE OF HUMANITY</h1>
  </div>

  <div id="coffee-image1">
    <img src="../../../static//bag_of_coffee.png" alt="A bag of coffee beans">
  </div>


  <div id="opening-pitch">
    <p>The only website you will ever need to buy coffee again. Sign up for our individual-based subscription service to get coffee right to your doorstep.</p>
  </div>

  <div id="get-started-btns">
    <button>Get Started</button>
    <button>Learn more</button>
  </div>

</body>

