
<img class="coffee-image1" src="static/bag_of_coffee.png" alt="A bag of coffee beans" width="447px" height="449px">

<div class="landing-h1 header-font">
  <h1>COFFEE FOR THE<br> LOVE OF<br> HUMANITY</h1>

</div>

<div class="opening-pitch">
  <p>The only website you will ever need to buy coffee again. Sign up for our<br>individual-based subscription service to get coffee right to your doorstep.</p>
</div>

<div class="home-page-btns">
  <button class="get-started-btn">Get Started</button>
  <button class="learn-more-btn">Learn more</button>
</div>

