@use "src/styles/variables" as *;


.statement-header {
  font-family: $header-font-family;
  color: $primary-color;
  font-size: $font-size-xxl;
  line-height: 1;
  text-shadow: 5px 5px 0 rgba(0,0,0,0.2);
}

.coffee-image1 {
  position: absolute;
  margin-top: 10%;
  margin-left: 70%;
}

.page-divider-image {
  width: 100vw;
}

.featured-coffee-1-wrapper {
  min-height: 50vh;
  background-color: $primary-color;
  color: $white;
}

.feature-coffee-2-wrapper {
  min-height: 50vh;
  background-color: $body-background-color;
}

.coffee-journey-wrapper {
  min-height: 70vh;
  background-color: $white;
}
