
<img
  class="coffee-image1"
  ngSrc="static/bag_of_coffee.png"
  alt="A bag of coffee beans"
  width="461"
  height="458"
>

<div class="statement-header ml-2-5">
  <h1>COFFEE FOR THE</h1>
  <h1>LOVE OF</h1>
  <h1>HUMANITY</h1>
</div>

<p class="opening-pitch ml-2-5">
  The only website you will ever need to buy coffee again.
  Sign up for our individual-based subscription service to get coffee right to your doorstep.
</p>

<div class="mt-5 ml-2-5 flex-row">
  <button class="get-started-btn">Get Started</button>
  <button class="learn-more-btn">Learn more</button>
</div>

<div class="background-overlay-2 flex-col align-items-center">
  <h2 class="landing-header-2 header-font mt-4">We're the coffee that cares.</h2>
  <p>
    In a sea of deceptive and unethical coffee corporations, we bring to you 100% ethically sourced beans
    sourced form a variety of small, local businesses.
  </p>

  <div class="fun-facts flex-row flex-wrap align-items-center justify-content-center">
    <div class="top-facts">
      <img ngSrc="static/box.png" alt="A decorative box" height="48" width="48">
      <h3>100% Ethically Sourced</h3><br>
      <p>Our beans come from small coffee farms that pay a fair wage to every person<br> in the supply chain, all the way to your doorstep.</p>
    </div>

    <div class="top-facts">
      <img ngSrc="static/box.png" alt="A decorative box" height="48" width="48">
      <h3>Individual Focused</h3><br>
      <p>We value the individual taste of every coffee drinker, so we curate a specific<br> palette for every one of our subscribers.</p>
    </div>

    <div class="top-facts">
      <img ngSrc="static/box.png" alt="A decorative box" height="48" width="48">
      <h3>Always Fresh</h3><br>
      <p>We will never send you beans that are more than two weeks old starting from<br> the day they are roasted. </p>
    </div>

    <div class="top-facts">
      <img ngSrc="static/box.png" alt="A decorative box" height="48" width="48">
      <h3>Reasonably Priced</h3><br>
      <p>Our subscribers not only get the best coffee, but they also get the best prices. Enjoy bulk order discounts, without having to order a bulk amount of beans. </p>
    </div>
  </div>
  <img class="page-divider-image" ngSrc="static/orange-white-divider.svg" alt="A wavy divider" width="1440" height="259">
</div>

<div class="featured-coffee-1 flex-row flex-wrap justify-content-center align-items-center">
  <div class="feature-content">
    <h2 class="header-font header">Featured Coffee Bean #1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce varius faucibus massa sollicitudin amet augue. Nibh metus a semper purus mauris duis.
      Lorem eu neque, tristique quis duis. Nibh scelerisque ac adipiscing velit non nulla in amet pellentesque.
      Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget commodo vitae.
    </p>

    <br>
    <p>
      Amet pellentesque sit pulvinar lorem mi a, euismod risus rhoncus.
      Elementum ullamcorper nec, habitasse vulputate. Eget dictum quis est sed egestas tellus, a lectus.
      Quam ullamcorper in fringilla arcu aliquet fames arcu.Lacinia eget faucibus urna,
      nam risus nec elementum cras porta. Sed elementum, sed dolor purus dolor dui.
      Ut dictum nulla pulvinar vulputate sit sagittis in eleifend dignissim.
      Natoque mauris cras molestie velit.
      Maecenas eget adipiscing quisque viverra lectus arcu, tincidunt ultrices pellentesque.
    </p>
  </div>
  <img ngSrc="static/bag_of_coffee.png" alt="A bag of coffee beans" height="458" width="461">
</div>

<div class="feature-coffee-2 flex-row flex-wrap align-items-center justify-content-center">
  <img ngSrc="static/bag_of_coffee.png" alt="A bag of coffee beans" height="458" width="461">
  <div class="feature-content">
    <h2 class="header-font header">Feature Coffee Bean #2</h2>

    <br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce varius faucibus massa sollicitudin amet augue. Nibh metus a semper purus mauris duis.
      Lorem eu neque, tristique quis duis. Nibh scelerisque ac adipiscing velit non nulla in amet pellentesque.
      Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget commodo vitae.
    </p>

    <br>
    <p>
      Amet pellentesque sit pulvinar lorem mi a, euismod risus rhoncus.
      Elementum ullamcorper nec, habitasse vulputate. Eget dictum quis est sed egestas tellus, a lectus.
      Quam ullamcorper in fringilla arcu aliquet fames arcu.Lacinia eget faucibus urna,
      nam risus nec elementum cras porta. Sed elementum, sed dolor purus dolor dui.
      Ut dictum nulla pulvinar vulputate sit sagittis in eleifend dignissim.
      Natoque mauris cras molestie velit.
      Maecenas eget adipiscing quisque viverra lectus arcu, tincidunt ultrices pellentesque.
    </p>
  </div>
</div>

<div class="coffee-journey flex-col align-items-center justify-content-flex-start mb-3">
  <img class="page-divider-image" ngSrc="static/grey-white-divider.svg" alt="A grey divider" height="259" width="1440"/>
  <div class="journey-content">
    <h2 class="header-font landing-header-2">Start your coffee journey today</h2>
    <p>Click below to take create your unique subscription plan that lets you choose the frequency of orders and beans of your choice.</p>
  </div>
  <button class="get-started-btn mt-5">Get started</button>
</div>
