

<div class="flex-col align-items-center">
  <div class="product">
    <img ngSrc="static/bag_of_coffee.png" height="458" width="300" alt="coffee">
  </div>
  <span class="product-text-bold mt-3">{{ product.product_name }}</span>
  <span class="product-text">{{ product.description }}</span>
  <span class="product-text-bold mt-1">{{ product.price | currency }}</span>
  <!--<p *ngIf="product.decaf === 'y'">Decaf</p>-->
  <!--<p *ngIf="product.single_origin === 'y'">Single Origin</p>-->
  <!--<p *ngIf="product.flavored === 'y'">Flavored</p>-->
  <button class="app-button wfill mt-3" routerLink="/not-implemented">Add to Cart</button>
</div>
