@use "src/styles/variables" as *;


.product {
  background-color: $surface-color;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.product-text-bold {
  color: $black;
  font-weight: $bold-font-weight;
  font-size: $font-size-med;
}

.product-text {
  color: $black;
  font-size: $font-size-med;
}
