
<div class="flex-col vw-90 mx-auto my-5 align-items-center">
  @if (cart.cart(); as items) {
    @if (cart.cartItems() > 0) {
      <h1>Your cart</h1>
      <div class="app-shopping-cart mt-5 wfill">
        @for (item of items; track item.product_id) {
          @if (item.quantity > 0) {
            <app-shopping-cart-item [item]="item" (quantityChanged)="handleUpdateItemQuantity(item.product_id, $event)"></app-shopping-cart-item>
          }
        }
      </div>

      <hr class="wfill my-5"/>

      <div class="flex-child flex-col align-items-flex-start">
        <table class="app-shopping-cart">
          <thead style="display: none"><th></th></thead>
          <tbody>
            <tr>
              <td>Items: </td>
              <td>{{cart.cartItems()}}</td>
            </tr>
            <tr>
              <td>Cart Total: </td>
              <td>{{cart.cartTotal() | currency}}</td>
            </tr>
          </tbody>
        </table>
        <div class="app-button-group mt-5">
          <fancy-button color="primary" (click)="handleCheckout()">Checkout</fancy-button>
          <fancy-button color="neutral" (click)="handleResetCart()">Delete all items</fancy-button>
        </div>
      </div>
    }
    @else {
      <h1 class="my-5">Your cart is empty!</h1>
      <fancy-button color="primary" routerLink="/shop">Go to Shop</fancy-button>
    }
  }
  @else {
    <app-loader/>
  }
</div>
