@use "src/styles/variables" as *;


.shop-heading {
  font-size: $font-size-xxl;
  font-family: $header-font-family;
  color: $white;
  text-shadow: -10px 5px 3px rgba(33, 32, 31, 0.3);
  letter-spacing: 3px;
}

.shop-text {
  font-size: $font-size-ml;
  width: 35vw;
  line-height: 1;
  text-shadow: -10px 5px 3px rgba(33, 32, 31, 0.3);
  color: $white;
}
