
<div class="flex-col align-items-center">
  <!-- browse-products coffee banner -->

  <div class="flex-child shop-banner flex-col justify-content-flex-start">
      <h1 class="shop-heading">SHOP COFFEE</h1>
      <p class="shop-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse varius enim in eros elementum tristique. Duis cursus,
        mi quis viverra ornare, eros dolor interdum nulla,
        ut commodo diam libero vitae erat.
      </p>
      <fancy-button class="mt-3" color="neutral" routerLink="/not-implemented">SHOP ALL</fancy-button>
  </div>

  <!-- browse coffee heading -->

  <h2 class="browse-coffee-heading mt-4">LET'S TALK BEANS</h2>
  <p class="browse-coffee-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  <button class="app-button mt-3">View All</button>

  <!-- browse types of coffees -->

  <!-- row one -->
  <div class="flex-row flex-wrap justify-content-center gap-5 my-5 mx-auto vw-90">

    @for (product of products(); track product.product_id) {
      <div class="flex-col">
        <app-product-tile [product]="product"/>
        <button
          class="app-button wfill mt-3"
          [disabled]="disabledActions(product.product_id)"
          (click)="handleAddToCart(product)"
        >
          Add to Cart
        </button>
      </div>
    }
  </div>

</div>
