

// specify props available within ts after view init
//:root {
//  --prop-goes-here: att;
//}

// font settings
$header-font-family: 'Shrikhand', sans-serif;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$text-font-family: 'Roboto', sans-serif;

$font-weight: 400;
$bold-font-weight: 700;

$font-size-xxxl: 120px;
$font-size-xxl: 60px;
$font-size-xl: 55px;
$font-size-lg: 32px;
$font-size-subtitle: 24px;
$font-size-20: 20px;
$font-size-landing-page: 15px;
$font-size-med: 18px;
$font-size: 14px;
$font-size-sm: 10px;
$font-size-xs: 8px;

// colors
$black: #21201F;
$white: #ffffff;
$clear: #ffffff00;

$primary-color: #EC5F46;
$secondary-color: #050559;
$tertiary-color: #efa145;
$neutral-color: #8f8f8f;
$neutral-variant-color: #575757;

$body-background-color: #ECEAE5;
$surface-color: $white;
$error-color: #ff3636;
$text-color: #21201F;
