
<div class="flex-row flex-wrap gap-2 align-items-center">
  <div class="flex-col gap-2">
    <div class="flex-col">
      <span class="app-form-label">Address Line 1</span>
      <input class="app-form-input" [formControl]="addressLineOneForm">
      <span>Required</span>
    </div>

    <div class="flex-col">
      <span class="app-form-label">Address Line 2</span>
      <input class="app-form-input" [formControl]="addressLineTwoForm">
      <span>Optional</span>
    </div>

    <div class="flex-col">
      <span class="app-form-label">City</span>
      <input class="app-form-input" [formControl]="cityForm">
      <span>Required</span>
    </div>

    <div class="flex-col">
      <span class="app-form-label">Zip</span>
      <input class="app-form-input" [formControl]="zipForm">
      <span>Required</span>
    </div>
  </div>

  <div class="flex-col">
    <span>State/Territory, Required</span>
    <app-radio-button-group *ngIf="territoryForm" [radioButtonFormControl]="territoryForm"></app-radio-button-group>
  </div>

</div>
