
<div class="flex-col surface p-4 space-between-items" style="height: 450px; width: 300px">
  <div>
    <h1 class="mb-3">Taste Questionnaire</h1>

    @switch (page()) {
      @case(0) {
        <h2>Welcome to the Coffee Taste Questionnaire!</h2>
        <h4 class="mt-3">Take this quiz to get a few options to satisfy your coffee needs!</h4>
        <p class="mt-3"> Click next to start the quiz.</p>
      }
      @case (1) {
        <h3>1. How strong do you like your coffee?</h3>
        <p class="mt-1"> Multi-Select</p>
        <app-checkbox-selector class="mt-3" [checkboxSelectorFormControl]="pageOneCoffeeStrengthForm"></app-checkbox-selector>
      }
      @case (2) {
        <h3>2. Do you enjoy flavored coffee?</h3>
        <p class="mt-1"> Single-Select</p>
        <app-radio-button-group class="mt-3" [radioButtonFormControl]="pageTwoFlavoredCoffeeForm"></app-radio-button-group>
      }
      @case (3) {
        <h3>3. I drink my coffee with...</h3>
        <p class="mt-1"> Multi-Select</p>
        <app-checkbox-selector class="mt-3" [checkboxSelectorFormControl]="pageThreeCreamersForm"></app-checkbox-selector>
      }
      @case (4) {
        <h3>4. I use my cup of coffee to...</h3>
        <p class="mt-1"> Multi-Select</p>
        <app-checkbox-selector class="mt-3" [checkboxSelectorFormControl]="pageFourCoffeeTimeForm"></app-checkbox-selector>
      }
      @case (5) {
        <h3>5. Select flavor notes</h3>
        <p class="mt-1"> Multi-Select</p>
        <app-checkbox-selector class="mt-3" [checkboxSelectorFormControl]="pageFiveFlavorNotesForm"></app-checkbox-selector>
      }
      @case (6) {
        <h3>6. Do you prefer single origin or blends</h3>
        <p class="mt-1">Single-Select</p>
        <app-radio-button-group class="mt-3" [radioButtonFormControl]="pageSixSingleOriginForm"></app-radio-button-group>
      }
      @case (7) {
        <h3>7. I make coffee with a(n)...</h3>
        <p class="mt-1"> Multi-Select</p>
        <app-checkbox-selector class="mt-3" [checkboxSelectorFormControl]="pageSevenCoffeeToolForm"></app-checkbox-selector>
      }
      @case (8) {
        <div class="app-button-group mt-3">
          <button class="app-button" (click)="handleSubmit()">Save and Complete</button>
        </div>
      }
      @default {
        <p>This page shouldn't be showed...</p>
      }
    }
  </div>

  <div *ngIf="page()<PAGE_COUNT" class="app-button-group">
    <button class="app-button" [disabled]="backwardDisabled()" (click)="backward()">Previous</button>
    <button class="app-button" [disabled]="forwardDisabled()" (click)="forward()">Next</button>
  </div>
</div>
