@use "src/styles/variables" as *;

.app-fancy-button-wrapper {
  position: sticky;
}

.app-fancy-button {

  $height: 48px;

  position: relative;
  padding: 0 25px;
  align-items: center;

  border-radius: 8px;
  border: 2px solid $black;
  outline: 0;
  cursor: pointer;

  font-family: $font-family;
  font-size: $font-size-med;
  height: $height;
  line-height: calc($font-size-med + 6px);

  &.neutral {
    background-color: $white;
    color: $text-color;
  }

  &.primary {
    background-color: $primary-color;
    color: $white;
  }

  &.disabled {
    background-color: $neutral-color;
    color: $black;
    cursor: not-allowed;
  }

  &:not(.disabled):after,  {
    position: absolute;
    z-index: -1;
    top: -2px;
    left: 0;
    height: $height;
    width: 100%;

    content: "";

    cursor: default;
    background-color: $black;
    border-radius: 8px;

    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
  }

  &:active:after {
    transform: translate(0, 0);
  }
}


