@use "src/styles/variables" as *;

body {
  background-color: $white;
}

.divided-page {
  width: 100%;
  height: 1000px;
}

// left side //

.track-heading {
  width: 50%;
  height: 550px;
  float:left;
}

.heading {
  font-family: $header-font-family;
  color: $primary-color;
  font-size: $font-size-xxxl;
}

.text {
  font-family: $text-font-family;
  color: $black;
  font-size: $font-size-med;
  line-height: 150%;
}

// right side //

.order-details-box {
  width: 40%;
  height: 400px;
  float:right;
  margin-right: 70px;
  margin-top: 70px;
  border: 5px solid $black;
}
.details-heading {
  height: 20px;
  background-color: $white;
}
.order-details {
  font-family: $text-font-family;
  color: $black;
  font-size: $font-size-med;
  font-weight: bold;
}
.details {
  line-height: 50px;
}

// tracking line with dots //
* {
  box-sizing: border-box;
}

.row {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Ensure space between the columns */
}

.column-left {
  width: 33.33%;
  padding-left: 130px;
}
.column-middle {
  width: 33.33%;
}
.column-right {
  width: 33.33%;
  padding-right: 130px;
}

hr {
  border: none;
  height: 4px;
  background-color: $black;
  margin: 0; /* Remove any default margin to make lines touch */
  width: 100%; /* Make the line span the full width of the column */
  margin-top: 10px;
}

.delivered {
  position: relative;
  top: -50px;
  left: 430px;
}
.delivered-dot {
  position: relative;
  top: -48px;
  left: 458px;
  display: inline-block;
  width: 15px;   /* size of the dot */
  height: 15px;
  background-color: $black;  /* dot color */
  border-radius: 50%;
}
.confirmed {
  position: relative;
  left: -40px
}

.dot {
  display: inline-block;
  width: 15px;   /* size of the dot */
  height: 15px;
  background-color: $black;  /* dot color */
  border-radius: 50%;       /* makes it a circle */
  position: relative;
  top: -10px;
}

.otw-dot {
  display: inline-block;
  width: 15px;   /* size of the dot */
  height: 15px;
  background-color: #4CAF50;  /* dot color */
  border-radius: 50%;       /* makes it a circle */
  position: relative;
  top: -10px;
}

.status {
  font-weight: bold;
}

// map with side bar //

.divided-map {
  width: 100%;
  height: 1000px;
}

// delivery date side (left)
.box {
  width: 40%;
  height: 700px;
  float:left;
  background-color: $primary-color;
  margin-left: 70px;
  border-radius: 100px;
}

.date-caption {
  text-align: center;
  font-family: $text-font-family;
  color: $white;
  font-weight: bold;
  font-size: $font-size-20;
}

.date {
  text-align: center;
  font-family: $text-font-family;
  color: $white;
  font-weight: bold;
  font-size: $font-size-xxl;
}


// map side (right)
.map-side {
  width: 52%;
  height: 700px;
  float:left;
}
.map-border {
  width: 100%;
  height: 700px;
  float:left;
  margin-right: 70px;
  border-radius: 100px;
  padding: 10px;
  background-color: $black;
  position: relative;
  z-index: -1;
}
.map {
  width: 100%;
  height: 700px;
  float: left;
  margin-right: 70px;
  border-radius: 100px;
  padding: 5px;
  position: relative;
  z-index: 1;
  top: -700px;
}


// bottom banner

.keep-shopping-banner {
  height: 2000px;
  background-color: $primary-color;
}

.forgot {
  color: $white;
  font-weight: bold;
}

.keep-shopping {
  font-family: $header-font-family;
  color: $white;
  font-size: $font-size-xxl;
}
