<div class="divided page">

  <div class="track-heading ml-10">
  <p class="heading mt-8">Order Status</p>
  <p class="text mr-10">At K&M Coffee, we pride ourselves on providing timely, reliable delivery of your coffee, right to your doorstep. We guarantee that your order will arrive on time, or we’ll refund your money—no questions asked. We also believe in supporting fair wages across our entire supply chain, from the roasters to the delivery drivers. Every person involved in getting your coffee to you is compensated fairly for their hard work, ensuring that quality and integrity are upheld at every step of the process. Your satisfaction and the well-being of those who make your coffee experience possible are our top priorities.</p>
  </div>

  <div class="order-details">
    hewo
  </div>

</div>

<div class="row">
  <div class="column-left">
    <p class="status confirmed">Confirmed</p>
    <hr>
    <span class="dot"></span>
  </div>
  <div class="status column-middle">
    <p>On Its Way</p>
    <hr>
    <span class="dot"></span>
  </div>
  <div class="status column-right">
    <p>Out For Delivery</p>
    <hr>
    <span class="dot"></span>
    <p class="status delivered">Delivered</p>
    <span class="delivered-dot"></span>
  </div>
</div>



<div class="divided-map">

  <div class="box">
    <p >Estimated Delivery Date</p>
    <p >27 JAN (WED)</p>
    <p >FedEx Tracking</p>
    <p >#0000 0000 0000 0000</p>
  </div>

  <div class="map-side">

    <!-- map to eaton hall -->
    <div class="map-border"></div>
    <!-- my goal is to possibly create a function to get the embedded map of a customer's saved address and display it -->
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d794250.649128755!2d-96.47209112187497!3d38.95729950000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87bf6f003db46c45%3A0x46057da899813a4b!2sEaton%20Hall!5e0!3m2!1sen!2sus!4v1731692807947!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>

</div>
